{% extends "themes/base-visitor.html.twig" %}

{% block title %}Accueil Kouizine{% endblock %}
{% block description %}Découvrez le blog de KOUIZINE de Jean Dupont sur les bons plats{% endblock %}
{% block keywords %}Blog,Kouizine,cuisine,Jean Dupont,Accueil{% endblock %}
{% block main %}
    <h1 class="text-center my-3 display-5">cuisine</h1>
{% endblock %}